@use 'variables' as variable;

// Add font-family for ant design component
.ant-typography,
.ant-drawer-title,
.ant-modal-title,
.ant-input,
.ant-select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: 14px;
  color: rgba(var(--color-text) / 1);
}

// Ant Select
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background: rgba(var(--bg-card) / 1);
}

.ant-select-dropdown {
  background: rgba(var(--color-gray-50) / 1);
  box-shadow:
    0 6px 16px 0 rgba(var(--color-gray-900) / 0.08),
    0 3px 6px -4px rgba(var(--color-gray-900) / 0.12),
    0 9px 28px 8px rgba(var(--color-gray-900) / 0.05);

  .ant-select-item-option-selected {
    .ant-select-item-option-content {
      color: rgba(var(--color-black) / 1);
    }
  }
}

// Ant Spin
.ant-spin .ant-spin-dot-item {
  background: rgb(37, 150, 255);
}
