@use 'variables' as variable;

/*----- Dashboard -----*/
.dashboard-page {
  height: 100%;

  // Elements
  .big-number {
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
  }

  .ant-card-body {
    height: 100%;
  }

  .card-half-page {
    height: calc((100% - 16px) / 2);
  }

  .custom-tag {
    width: fit-content;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;

    &.green-tag {
      background: rgba(var(--color-green-100) / 1);
      color: rgba(var(--color-green-700) / 1);
    }

    &.blue-tag {
      background: rgba(var(--color-blue-100) / 1);
      color: rgba(var(--color-blue-700) / 1);
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 9999px;
    border: 2px solid rgba(var(--color-gray-100) / 1);

    font-size: 12px;
    color: white;
  }

  // Cards
  .act-card {
    overflow: hidden;

    &__plat-card {
      height: calc(100% - 322px);
      background: rgba(var(--color-gray-100) / 1);
      @include variable.scroll-bar;

      .ant-card-head {
        padding: 0 16px;
        min-height: 50px;
        border-bottom: none;
      }

      .ant-card-body {
        height: calc(100% - 50px);
        padding: 8px 16px;
        overflow-y: auto;
      }
    }
  }

  .stat-card {
    overflow: hidden;

    &__task-card {
      height: calc(100% - 100px);
      background: rgba(var(--color-gray-100) / 1);

      .ant-card-body {
        padding: 16px 0;
      }
    }
  }

  .course-card {
    overflow: hidden;

    .avatar-container {
      position: relative;
      height: 40px;

      .avatar {
        position: absolute;

        &:nth-child(1) {
          z-index: 1;
          background: red;
        }

        &:nth-child(2) {
          z-index: 2;
          left: 25px;
          background: blue;
        }

        &:nth-child(3) {
          z-index: 3;
          left: 55px;
          background: green;
        }

        &:nth-child(4) {
          z-index: 4;
          left: 85px;
          background: rgba(var(--color-purple-900));
        }
      }
    }

    &__progress {
      .ant-progress-inner,
      .ant-progress-bg {
        height: 40px !important;
        border-radius: 8px;
      }

      .ant-progress-bg {
        padding: 10px;
        background: #fcd326;

        .ant-progress-text-inner {
          font-size: 16px;
          font-weight: 600;
          color: black;
        }
      }

      .ant-progress-inner {
        background: #fbe9a6;
      }
    }

    &__btn.ant-btn {
      height: 40px;
      border: none;
      background: rgba(var(--color-gray-900) / 1);

      span {
        color: rgba(var(--color-white));
      }
    }

    .ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled) {
      &:active,
      &:hover {
        color: rgba(var(--color-white));
        background: rgba(var(--color-gray-900) / 1);
        opacity: 0.8;
      }
    }
  }

  .schedule-card {
    .prev-btn,
    .next-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 28px;
      height: 28px;

      border-radius: 9999px;
      border: 2px solid rgba(var(--color-text) / 0.2);

      cursor: pointer;

      svg {
        width: 10px;
        height: 10px;
      }

      &:hover {
        border: 2px solid rgba(var(--color-text) / 0.4);
      }
    }
  }
}

/*----- About -----*/

/*----- Flow -----*/
.flow-page {
  height: 100%;
  width: 100%;
  border-radius: variable.$rounded-4;
  background: rgba(var(--bg-card) / 1);
}

/*----- Wedding -----*/
.wedding-page {
  padding: 24px 80px;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 579px;

  border: 12px rgba(255, 228, 228, 0.75);
  border-style: double;
  background: url('./images/NTH_9536.JPG') no-repeat;
  background-color: rgb(92, 9, 9);
  background-size: 720px;
  background-position: center;

  @media (max-width: 1000px) {
    height: 100%;
    flex-direction: column;
    overflow: auto;
  }

  .left-card,
  .right-card {
    position: relative;
    height: 668px;
    width: 468px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgb(243, 242, 230);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  &.template-v1 {
    .left-card {
      justify-content: center;
      padding: 16px;
      background-image: url('./images/flowers/bg8.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .right-card {
      justify-content: space-between;
      padding: 16px;
      background-image: url('./images/flowers/bg6.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .save-the-date,
    .best-regards {
      font-family: 'Santillana-Daughter';
      font-family: 'Nusrat';
      font-family: 'Pateglamt-Script';
      font-family: 'SpringtimeFlourish';
      font-family: 'Springtime2';
      font-family: 'ChopsNormal';
      font-family: 'Peristiwa';
    }

    .save-the-date {
      font-size: 56px;
      color: #d13967;
    }

    .wed-date {
      color: #2ea715;
      font-family: 'Nunito';
      font-size: 40px;
      font-weight: 600;
    }

    // .best-regards {
    //   font-size: 26px;

    //   .title {
    //     font-family: 'Pateglamt-Script';
    //     font-weight: bolder;
    //     color: #080807;
    //   }

    //   .content {
    //   }
    // }
  }

  &.template-v2 {
    .left-card {
      justify-content: center;
    }

    .right-card {
      justify-content: space-between;
      padding: 16px;
      background-image: url('./images/flowers/bg6.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .flower {
      background-image: url('./images/flowers/bg1.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
