@import url('./xy-theme.scss');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.edge-label-renderer__custom-edge {
  position: absolute;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.react-flow__edge-textbg {
  fill: #f7f9fb;
}

.tool-overlay {
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  transform-origin: top left;
  cursor: copy;
  touch-action: none;
}

.rectangle-preview {
  position: absolute;
  z-index: 10;
}
